@import '~sass/colors';

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reminder-modal {
  background: white;
  padding: 1.25rem 1.75rem;
  border-radius: 0.5rem;
  width: 50%;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
              0 5px 15px 0 rgba(0,0,0,0.08);
  
  span.close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 0 0.75rem;
    background: #f34f4f;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    cursor: pointer;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }

  h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: $text-color--light;
  }

  .item {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;

    .title {
      width: 30%;
      font-weight: 500;
      line-height: 1.5rem;
      margin-right: 10px;
      font-weight: 600;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      padding: 0.5rem 1.25rem;
      background: $blue-color;
      border-radius: 4px;
      border: none;
      margin-left: 10px;
      cursor: pointer;
      color: white;

      &:hover {
        background: $blue-color--dark;
      }

      &.dismiss-btn {
        background: $red-color;

        &:hover {
          background: $red-color--dark;
        }
      }
    }
  }
}

@media all and (max-width: 992px) {
  .meeting-modal {
    width: 80%;
  }
}
@media all and (max-width: 768px) {
  .reminder-modal {
    min-width: 90%;
    .item {
      flex-direction: column;
      .title {
        width: 100%;
        margin-bottom: 2px;
      }
    }
  }
}