@import '~sass/colors';

.wrapper {
  padding: 0.5rem 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
  background: white;
  color: $text-color;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1.5rem;
  z-index: 10;
  min-width: 200px;
  border: 1px solid hsl(0, 0%, 85%);

  .title {
    font-size: 1.15rem;
    font-weight: 600;
  }

  &.info {
    background: $blue-color;
    color: white !important;
    border: none;
  }

  &.error {
    background: $red-color;
    color: white !important;
    border: none;
  }

  .icon {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.25rem;
    cursor: pointer;
  }
}