@import '~sass/colors';

main {
  padding: 100px 30px;
  text-align: center;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 2rem auto;
  text-align: left;
}

label {
  margin: 0;
}

input[type="password"] {
  border: 2px solid hsl(0, 0%, 90%);
  background-color: white;
  outline: none;
  margin-top: 2px;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;

  &:focus {
    border-color: $blue-color;
  }
}

p {
  margin: 0;
}

p.error {
  color: $red-color;
  font-size: 0.85rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: right;
}

button {
  margin-top: 1rem;
  display: inline-block;
  align-self: center;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  border: none;
  background-color: hsl(120, 20%, 37%);
  color: white;
  cursor: pointer;
  outline: none;
  transition: all .1s ease-in;
  
  &:hover {
    background-color: hsl(120, 20%, 49%);
  }
  
  &:active {
    background-color: hsl(120, 20%, 32%);
    transition: none;
  }
}

a {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.6rem 2rem;
  background: white;
  border-radius: 3rem;
  font-size: 1.05rem;
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.075);
  transition: all .2s ease-in;
  
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.1);
  }

  &:active {
    transform: none;
    box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.075);
    transition: none;
  }
}

@media all and (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
}