<main>
  <h1>Reset Password.</h1>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" *ngIf="!submitted">
    <label for="password">Enter New Password:</label>
    <input type="password" id="password" formControlName="password" (input)="error = ''">
    <p class="error">{{ error }}</p>
    <button type="submit" [disabled]="processing">Submit</button>
    <div class="d-flex justify-content-center mt-2" *ngIf="processing">
      <app-spinner></app-spinner>
    </div>
  </form>
  <div *ngIf="submitted">
    <p>
      Your password has been reset successfully.
    </p>
    <a routerLink="/">Go Home</a>
  </div>
</main>