$brand-color: #009c88;

$blue-color: #b553de;
$blue-color--dark: #9d40c5;

$red-color: #bd5656;
$red-color--dark: #a14242;

$yellow-color: #dddd55;

$link-color: #6b6bc0;

$text-color: #2b2b30;
$text-color--light: #787d82;
$text-color--lighter: #989da3;

$calendar-background-color: hsl(0, 0%, 97%);
$calendar-background-color--hover: hsl(0, 0%, 92%);
$calendar-background-color--today: hsl(0, 0%, 85%);
$calendar-border-color: hsl(0, 0%, 90%);