$small: 1.5rem;
$normal: 2.25rem;
$large: 4rem;

$small-border: 2px;
$normal-border: 3px;
$large-border: 4px;

.spinner {
  width: $normal;
  height: $normal;
  border: $normal-border solid transparent;
  border-bottom-width: 0px !important;
  border-top-color: hsl(258, 69%, 70%);
  border-left-color: hsl(258, 69%, 70%);
  border-radius: 50%;
  animation: rotate 0.5s linear infinite;

  &.small {
    width: $small;
    height: $small;
    border-width: $small-border;
  }

  &.large {
    width: $large;
    height: $large;
    border-width: $large-border;
  }
}

@keyframes rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}