<div class="wrapper">
    <div class="form-container">
      <h1>Welcome back.</h1>
      <p>Please login to check your schedule.</p>
      <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" type="text" formControlName="username" [class.border-red]="errors.username" placeholder="johndoe21" (input)="errors.username = ''">
          <div class="error">{{ errors.username }}</div>
        </div>
        <div class="form-group">
          <div>
            <label for="password">Password</label>
            <a routerLink="/forgot-password" class="forgot-password-link">Forgot your password?</a>
          </div>
          <input id="password" type="password" formControlName="password" [class.border-red]="errors.password" placeholder="••••••••" (input)="errors.password = ''">
          <div class="error">{{ errors.password }}</div>
        </div>
        <div class="d-flex align-items-center justify-content-end button-container">
          <app-spinner size="small" *ngIf="processing"></app-spinner>
          <button type="submit" [disabled]="processing">Login</button>
        </div>
      </form>
    </div>
    <footer>
      <p>
        If you don't have an account, <a routerLink="/signup">Sign Up</a>.
      </p>
    </footer>
  </div>