<div class="wrapper">
    <div class="form-container">
      <div *ngIf="!submitted">
        <h1>Forgot your password?</h1>
        <p>Don't worry. Just enter your username.</p>
        <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
          <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" formControlName="username" [class.border-red]="error" placeholder="johndoe21" (input)="error = ''">
            <div class="error">{{ error }}</div>
          </div>
          <div class="d-flex align-items-center justify-content-end button-container">
            <app-spinner size="small" *ngIf="processing"></app-spinner>
            <button type="submit" [disabled]="processing">Submit</button>
          </div>
        </form>
      </div>
      <div *ngIf="submitted">
        <h1>Great.</h1>
        <p>Password recovery mail has been sent to your registered email address.</p>
        <p><a routerLink="/">Go Home</a></p>
      </div>
    </div>
    <footer>
      <p>
        If you remember your password, <a routerLink="/login">Login</a>.
      </p>
    </footer>
  </div>